/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Kanit:wght@500&display=swap");

:root{
--cor-de-titulos: #ffffff;
--cor-de-sub-titulos:#ffffff;
--cor-de-textos: #ffffff;
--cor-de-bordas: #ffffff;
--cor-background: #2b3f73;
--cor-secundaria-background: #546fb3;
--cor-de-cabecalho: #ffffff;
--cor-primaria: rgb(223, 108, 0);
--cor-secundaria: #b27d2d;
--cor-terciaria: #fffff5;
--cor-botoes: #f4f5fd;
--cor-links: #ffffff;
--cor-links-hover: #f80000a2;
}


*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}


main{
  display: flex;
  flex-direction: column;
}

header{
  background-color: var(--cor-secundaria-background);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 10vh;
}

#links{
  display: flex;
  margin-right: 5%;
}

#links a{
  margin-right: 7%;
  text-decoration: none;
  color: var(--cor-links);
}

#links a :hover{
color: var(--cor-links-hover);
transition: 500ms;
}

#conteudo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cor-background);
  height: 80vh;
}

.conteudo img{
  width: 70vh;
  border-radius: 50%;
}

.texto h1{
  color: var(--cor-de-titulos);
}

.texto h4 {
  margin-top: 2vh;
  color: var(--cor-de-sub-titulos);
}

.texto p{
  max-width: 500px;
  width: 500px;
  margin-top: 6vh;
  color: var(--cor-de-textos);
}

#projetos{
  display: flex;
  justify-content: space-around;

}

.projetos{
  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
  border: solid;
  border-color: var(--cor-secundaria);
  border-radius: 30px;
}

.projetos img{
  width: 250px;
}


.projetos h3{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.suporte_botao{
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.suporte_botao .botao_ver_mais a :hover{
transition: 500ms;
color: var(--cor-links-hover);
}

.suporte_botao .botao_ver_mais{
  display: flex;
  background-color: var(--cor-secundaria-background);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.botao_ver_mais a p {
  color: var(--cor-links);
}

.botao_ver_mais a p :hover{
  color: var(--cor-links-hover);
}

#contatar{
  width: 30vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  padding-left: 4vw; 
}

.frame_footer{
  width: 30vw;
  display: flex;
  align-items: center;
  color:var(--cor-de-textos);
}

.conteudoFlutuante {
  border: solid 2px white;
  background-color: #f4f5fd;
  border-radius: 15px;
  margin-top: 5px;
  max-width: 160px;
}

.conteudoFlutuante:hover {
  border: solid 2px;
  border-color: #001949;
  background-color: #f4f5fd;
  transition: 0.15s;
  box-shadow: 2px 2px 5px #000000;
}

.botoesLink {
  display: flex;
  width: 150px;
  height: 30px;
  align-items: center;
}

.iconsLogo {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-left: 5px;
}



/* Linkedin */
#linkedinColor {
  background-image: url("https://cdn-icons-png.flaticon.com/512/3670/3670289.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.conteudoFlutuante:has(:hover) #linkedinColor {
  background-image: url("https://cdn-icons-png.flaticon.com/512/2626/2626273.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

/* Git */
#gitColor {
  background-image: url("https://cdn-icons-png.flaticon.com/512/2111/2111432.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.conteudoFlutuante:has(:hover) #gitColor {
  background-image: url("https://cdn-icons-png.flaticon.com/512/270/270798.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

/* Whatsapp */
#watsappColor {
  background-image: url("https://cdn-icons-png.flaticon.com/512/3670/3670302.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.conteudoFlutuante:has(:hover) #watsappColor {
  background-image: url("https://cdn-icons-png.flaticon.com/512/2626/2626279.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}


/* Edição do texto */

.textoDirecional, h4, a, p {
 
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 55px;
  margin: 0px;
}

footer{
  display: flex;
  height: 20vh;
  background-color: var(--cor-secundaria-background);
  margin-top: 10vh;

}

.voltar_para{
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.voltar_para p{
  padding-bottom: 5px;
  color: var(--cor-de-textos);
}